/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@layer components {
  .newsletter-input {
    @apply border border-[#9e9ccf] focus:outline-none rounded-[6px] p-6 text-[1.2rem] w-[25rem] bg-[#4f46e5] text-white placeholder:text-2xl;
  }
}

.category-style {
  @apply text-2xl bg-white rounded-[8px] py-14 border border-[#4f46e5];
}
.featured-card-style {
  @apply text-2xl rounded-[8px] pb-[1.2rem] overflow-hidden bg-white hover:scale-105 transition-transform duration-300;
}
/* .newsletter-class {
  @apply border border-[#9e9ccf] focus:outline-none rounded-[6px] p-6 text-[1.2rem] w-[25rem] bg-[#4f46e5] text-white placeholder:text-2xl;
} */
